*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.item {
    font-size:30px;
    text-align:center;
    color:white;
    height:100%;
    font-style:italic;
    position:relative;
}
.item p {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.grid-container{
    display:grid;
    grid-template-columns: (6,1fr);
    height:100vh;
    gap:10px;
    grid-template-areas:
     'a a a a a a'
     'b b c c c c'
     'b b d d e e'
     'f f f f f f';
}
.header {
    background-image: linear-gradient(to right, blueviolet,lavender);
    grid-area: a;

}
.sidebar {
    grid-area:b;
    background-image:linear-gradient(to bottom,white, aqua);
}
.content-1{
    grid-area:c;
    background-image:linear-gradient(to bottom right, blueviolet,blue,skyblue, aqua);
}
.content-2{
    grid-area:d;
    background-image:linear-gradient(to bottom right, blueviolet,blue,skyblue, aqua);
}
.content-3{
    grid-area:e;
    background-image:linear-gradient(to bottom right, blueviolet,blue,skyblue, aqua);
}
.footer {
   grid-area:f;
    background-image: linear-gradient(to right, blueviolet,lavender);  
}
@media screen and (max-width:900px){
    .grid-container {
         grid-template-columns: repeat(2, 1fr);
         grid-template-areas:
         'a b'
         'c d'
         'e f';
    }
}
@media screen and (max-width:500px){
    .grid-container {
         grid-template-columns: 1fr;
         grid-template-areas:
         'a'
         'b'
         'c'
         'd'
         'e'
         'f';
    }
}

.grid-container1 {
     display:grid;
     grid-template-columns: repeat(4 1fr);
     gap:10px;
     text-align:center;
     height:100vh;
     grid-template-areas: 
      'a b b c'
      'a d e f'
      'a g h f';
}
.box {
    background-color: green;
}
.box-1 {
    background-color:green;
    grid-area:a;
}
.box-2{
    background-color:green;
    grid-area: b;
}
.box-3{
    background-color: red;
    grid-area:c;
}
.box-4{
    background-color:orange;
    grid-area:d;
}
.box-5{
    background-color:red;
    grid-area:e;
}
.box-6{
    background-color:green;
    grid-area: f;
}
.box-8{
    background-color:red;
    grid-area:g;
}
.box-7{
    background-color:orange;
    grid-area:h;
}
@media screen and (max-width:900px){
    .grid-container1 {
       grid-template-columns:repeat(2, 1fr);
       grid-template-areas:
       'a b'
       'c d'
       'e f'
       'g h';
    }
}
@media screen and (max-width:500px){
    .grid-container1 {
       grid-template-columns:repeat(1fr);
       grid-template-areas:
       'a'
       'b'
       'c'
       'd'
       'e'
       'f'
       'g'
       'h';
    }
}